*.[oa]
myRtsp
cscope*
.*swp
.depend
myTest
capdir
gtest/backup
third_party/jrtplib-3.9.1/build
third_party/jrtplib-3.9.1/build_2
third_party/jrtplib-3.9.1/build_backup
a.out
*.h264
simple_example
complete_example
common_example
test_example.cpp
simple_example.cpp_backup
test_packet_recv*
Makefile_backup
Makefile
