*.[oa]
myRtsp
cscope*
.*swp
.depend
myTest
capdir
gtest/backup/*
gtest/writeSTAP_Packet1.h264
gtest/writeSTAP_Packet2.h264
third_party/JRTPLIB/build
third_party/JRTPLIB/build_2
third_party/JRTPLIB/build_backup
third_party/JTHREAD/build
a.out
# *.h264
simple_example
complete_example
common_example
test_example.cpp
simple_example.cpp_backup
test_packet_recv*
Makefile_backup
Makefile
CoreDumpTest.sh
example/http_tunnel_example
example/recv_video_and_audio_example
example/test_audio_recv.mp3
example/test_video_recv.h264
test.txt
third_party/*/CMakeFiles/
third_party/*/cmake_install.cmake
third_party/*/CMakeCache.txt
myRtspClient/CMakeFiles/
myRtspClient/cmake_install.cmake
myRtspClient/CMakeCache.txt
myRtspClient/jrtplib/cmake/*
myRtspClient/jrtplib/examples/CMakeFiles/
myRtspClient/jrtplib/src/CMakeFiles/
myRtspClient/jrtplib/src/rtpconfig.h
myRtspClient/jrtplib/src/rtplibraryversioninternal.h
myRtspClient/jrtplib/src/rtptypes.h
myRtspClient/jrtplib/src/libjrtp.so*
myRtspClient/jrtplib/pkgconfig/jrtplib.pc
myRtspClient/jrtplib/examples/cmake_install.cmake
myRtspClient/jrtplib/CMakeFiles/progress.marks
myRtspClient/jrtplib/CMakeFiles/CMakeDirectoryInformation.cmake
myRtspClient/jrtplib/cmake_install.cmake
myRtspClient/jrtplib/src/cmake_install.cmake
myRtspClient/libmyRtspClient.so
myRtspClient/jrtplib/examples/example[0-9]
cmake_config_build.*
CMakeLists.txt
