*.[oa]
myRtsp
cscope*
.*swp
.depend
myTest
capdir
gtest/backup/*
gtest/writeSTAP_Packet1.h264
gtest/writeSTAP_Packet2.h264
third_party/jrtplib-3.9.1/build
third_party/jrtplib-3.9.1/build_2
third_party/jrtplib-3.9.1/build_backup
a.out
# *.h264
simple_example
complete_example
common_example
test_example.cpp
simple_example.cpp_backup
test_packet_recv*
Makefile_backup
Makefile
CoreDumpTest.sh
example/recv_video_and_audio_example
example/test_audio_recv.mp3
example/test_video_recv.h264
test.txt
